{% load staticfiles %}        
<head>
    <title>ESI Microsite : IC.IDO Information</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">    
    
</head>

<body>
{% for post in posts %}
    <div>
        <h2 class="postTitle"><a href="">{{ post.title }}</a></h2>
        <p>published: {{ post.published_date }}</p>
        <p class = "postText">{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
</body>